#visualization {
      width: 600px;
      height: 400px;
      border: 1px solid lightgray;
    }

body {
  font-family: purisa, "comic sans", cursive;
}

.vis-timeline {
  border: 2px solid #111c44;
  font-family: purisa, "comic sans", cursive;
  font-size: 12pt;
  background: #8cd9f8;
}

.vis-item {
  border-color: #000000;
  background-color: #fd690d;
  font-size: 15pt;
  color: #111c44;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.5);
}

.vis-item,
.vis-item.vis-line {
  border-width: 3px;
}

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

.vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}

.vis-time-axis .vis-text {
  color: #111c44;
  padding-top: 10px;
  padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: #000000;
}

.vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #000000;
}

.element.style {
    height: 32px !important;
    width: 32px !important;
}

#mynetwork {
  width: 800px;
  height: 800px;
  border: 1px solid lightgray;
  background-color: #333333;
}

.mantine-4xmesm {
    padding: 0px 18px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: auto;
    border-radius: 4px;
    font-weight: 600;
    position: relative;
    line-height: 1;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgb(51 51 51);
    color: rgb(255, 255, 255);
}